
#tituloindex {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

#nombre {
    font-size: 30px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 350px;
    margin-top: 20px;
}

#presentacion {
    font-size: 30px;
    text-align: center;
    margin-top: 130px;
    font-family: cursive;

}